<launch>
  <arg name="rpi_ip"/>
  <arg name="name" default="gelsight"/>

  <group ns="$(arg name)">
    <include file="$(find gelsight-ros)/launch/gelsight_proc.launch"/>

    <machine name="mars-linux-3" address="$(arg rpi_ip)" env-loader="/home/ubuntu/env-loader" default="true" user="ubuntu"/>
    <include file="$(find gelsight-ros)/launch/gelsight_stream.launch" />
  </group>
</launch>